html, body {
	margin: 0;
	padding: 0;	
}

body {
	background: #EEE;	
	font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

#content {
	width: 750px;
	margin: 50px auto;
	padding: 20px;
	background: #FFF;	
	border: 1px solid #CCC;
}

h1 {
	margin: 0;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #CCC;	
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;	
	padding: 7px 0;
}

.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

a { 
	outline-color: #888;	
}
#images a {
			margin-right: 14px;
		}

		#images a img {
			border: 1px solid #888;	
			padding: 3px;
			vertical-align: top;
		}

		#credit {
			clear: both;	
			margin-top: 50px;
			padding-top: 20px;
			font-size: 10px;
			border-top: 1px solid #BBB;
			font-family: Verdana;
		}
#imgbox-loading {
	position: absolute;
	top: 0;
	left: 0;
	background: url('imgbox-spinner.gif') center center no-repeat;
	cursor: pointer;
	display: none;
	z-index: 90;
}

#imgbox-loading div {
	background: #FFF;
	width: 100%;
	height : 100%;
}

#imgbox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	z-index: 80;
}

.imgbox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	display: none;
	z-index: 90;
}

.imgbox-img {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.imgbox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('imgbox-close.png') top left no-repeat;
	cursor: pointer;
	outline: none;
}

.imgbox-title {
	padding-top: 10px;
	font-size: 11px;
	text-align: center;
	font-family: Arial;
	color: #333;
	display: none;
}

.imgbox-bg-wrap {
	position: absolute;
	padding: 0;
	margin: 0;
	display: none;
}

.imgbox-bg {
	position: absolute;
	width: 20px;
	height: 20px;
}

.imgbox-bg-n {
	left: 0;
	top: -20px;
	width: 100%;
	background: url(imgbox-bg-n.png) repeat-x;
}

.imgbox-bg-ne {
	right: -20px;
	top: -20px;
	background: url(imgbox-bg-ne.png) no-repeat;
}

.imgbox-bg-e {
	right: -20px;
	top: 0;
	height: 100%;
	background: url(imgbox-bg-e.png) repeat-y;
}

.imgbox-bg-se {
	right: -20px;
	bottom: -20px;
	background: url(imgbox-bg-se.png) no-repeat;
}

.imgbox-bg-s {
	left: 0;
	bottom: -20px;
	width: 100%;
	background: url(imgbox-bg-s.png) repeat-x;
}

.imgbox-bg-sw {
	left: -20px;
	bottom: -20px;
	background: url(imgbox-bg-sw.png) no-repeat;
}

.imgbox-bg-w {
	left: -20px;
	top: 0;
	height: 100%;
	background: url(imgbox-bg-w.png) repeat-y;
}

.imgbox-bg-nw {
	left: -20px;
	top: -20px;
	background: url(imgbox-bg-nw.png) no-repeat;
}